@charset "UTF-8";
/* FONT FONT FONT 
La note enchantée : Devonshire + Sriracha (Menu) ;
Le chic à la Française : Croissant one;
Le délice des papilles : Dancing Script ;
La palette du gout : Handlee; */
@import url("https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Devonshire|Handlee|Kalam|Segoe+print|Sriracha&display=swap");
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
body {
  font-size: 100%;
  font-family: "Montserrat", Arial;
  margin: 0;
}
body h2, body h3 {
  text-align: center;
}

main {
  margin-bottom: 80px;
}

a {
  text-decoration: none;
  color: #ffcc33;
}

header {
  color: #ffcc33;
  text-align: center;
  background-color: #579c87;
  display: flex;
  font-weight: 700;
  padding: 15px 0;
  height: 120px;
  align-content: center;
  justify-content: center;
}
header h1 {
  margin: 0;
  font-size: 5em;
}

#conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 740px;
  margin: auto;
}
@media (max-width: 768px) {
  #conteneur {
    width: 100%;
    align-content: center;
    margin: auto;
  }
}

.menu1 {
  width: 300px;
  height: 390px;
  display: flex;
  flex-direction: column;
  border: 1px #ededed solid;
  margin: 30px;
  box-shadow: 1px 1px 10px grey;
  background-color: #fcdfdb;
  color: #3c1218;
}
.menu1 .titre {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
  text-align: center;
  margin: auto;
  font-family: "Segoe print";
  font-size: 32px;
}
.menu1 .titre:hover {
  transform: scale(1.15);
}
.menu1 .titre p {
  margin: 0;
}
.menu1 .titre h3 {
  font-family: "devonshire";
  font-weight: normal;
  margin: 0;
  font-size: 28px;
}

.menu2 {
  width: 300px;
  height: 390px;
  display: flex;
  flex-direction: column;
  border: 1px #ededed solid;
  margin: 30px;
  box-shadow: 1px 1px 10px grey;
  background-color: #fff5fe;
}
.menu2 .titre {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
  text-align: center;
  color: #c77412;
  font-family: "Times new roman";
  font-weight: bold;
  font-size: 30px;
  margin: auto;
}
.menu2 .titre:hover {
  transform: scale(1.15);
}
.menu2 .titre h3 {
  font-family: "Croissant one";
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#c77412), to(#6e4ccc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3 {
  width: 300px;
  height: 390px;
  display: flex;
  flex-direction: column;
  border: 1px #ededed solid;
  margin: 30px;
  box-shadow: 1px 1px 10px grey;
  background-color: #e8e8e8;
}
.menu3 .titre {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
  text-align: center;
  color: #0431df;
  font-family: "Segoe print";
  margin: auto;
  font-size: 30px;
}
.menu3 .titre:hover {
  transform: scale(1.15);
}
.menu3 .titre h3 {
  font-size: 28px;
  font-family: "Dancing Script";
  background: -webkit-gradient(linear, left top, right bottom, from(#0431df), to(#0887fb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4 {
  width: 300px;
  height: 390px;
  display: flex;
  flex-direction: column;
  border: 1px #ededed solid;
  margin: 30px;
  box-shadow: 1px 1px 10px grey;
  background-color: #f7fbf7;
}
.menu4 .titre {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
  text-align: center;
  color: #347b31;
  font-family: "Segoe print";
  margin: auto;
  font-size: 30px;
}
.menu4 .titre:hover {
  transform: scale(1.15);
}
.menu4 .titre h3 {
  font-size: 28px;
  font-family: "Handlee";
  background: -webkit-gradient(linear, left top, right bottom, from(#347b31), to(#94db68));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prochainement {
  width: 320px;
  height: 50px;
  display: flex;
  border: 1px #ededed solid;
  color: #ffcc33;
  border-radius: 10px;
  margin-bottom: 7em;
  background-color: #579c87;
}
.prochainement p {
  margin: auto;
  font-size: 30px;
}

footer {
  color: #ffcc33;
  text-align: center;
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: 400;
  height: 60px;
  font-size: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a {
  margin: auto 10px auto 10px;
}
footer a:hover {
  animation: shake 0.5s;
  animation-iteration-count: 4;
}

/*------------------MENU 1--------------*/
#menu1 {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Kalam";
  max-width: 700px;
  width: 80%;
  margin: auto;
}
#menu1 .titre {
  margin-top: 0.5rem;
  font-family: "devonshire";
  font-size: 1.4rem;
}
#menu1 .titre h2 {
  font-weight: normal;
}
#menu1 .titre img {
  padding-top: 2rem;
}

.carte {
  font-size: 0.9rem;
}
.carte h3 {
  font-size: 1.1rem;
  padding-bottom: 0.6rem;
  margin: 0 3.5rem;
}
.carte h3 .un {
  float: right;
  padding-top: 0.9rem;
}
.carte h3 .deux {
  float: left;
  padding-top: 0.9rem;
}
.carte ul {
  padding: 0;
  margin: 0 4rem 2.5rem 4rem;
}
.carte ul li {
  list-style: none;
}
.carte ul li span {
  float: right;
}

.fin {
  padding: 0 0 1.5rem 0;
}
.fin p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "devonshire";
}
.fin img {
  width: 1.4rem;
  height: auto;
  margin-right: 0.5rem;
}

/*------------------MENU 2--------------*/
#menu2 {
  max-width: 700px;
  width: 80%;
  margin: auto;
  font-family: "Times new roman";
  background-color: #fff5fe;
}
#menu2 .titre {
  margin-top: 0.5rem;
  font-family: "croissant one";
}
#menu2 .titre h2 {
  font-weight: normal;
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#c77412), to(#6e4ccc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte .or {
  color: #c77412;
}
.carte .mauve {
  color: #a56799;
}
.carte .bleu {
  color: #6e4ccc;
}

/*------------------MENU 3--------------*/
#menu3 {
  max-width: 700px;
  width: 80%;
  margin: auto;
  font-family: "Kalam";
  background-color: #e8e8e8;
}
#menu3 .titre {
  margin-top: 0.5rem;
  font-family: "Dancing Script";
}
#menu3 .titre h2 {
  background: -webkit-gradient(linear, left top, right bottom, from(#0431df), to(#0887fb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*------------------MENU 4--------------*/
#menu4 {
  max-width: 700px;
  width: 80%;
  margin: auto;
  font-family: "Kalam";
  background-color: #F1F8E9;
}
#menu4 .titre {
  margin-top: 0.5rem;
  font-family: "Handlee";
}
#menu4 .titre h2 {
  font-size: 2.5rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#347b31), to(#94db68));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=styles.css.map */
